.header {
    background-color: #a0a2a1; 
    padding: 10px;               
    border: 1px solid #1b1b1a; 
    font-weight: bold;           
    font-size: 1.2em;            
}

.red-text {
    color: rgb(139, 36, 36);
    font-weight: bold;
}